footer#footer.footer
  .row.flex-row.justify-content-between

    ul.info.d-flex.col.justify-content-end
      li.office.text-right
        p.m-0!= 'г. Люберцы, </br> 1-й Панковский проезд, д. 1'
      li.contacts
        a(href="tel:+71234567890")= '+7 123 456 78 90'
        a(href="mailto:info@burovaya.ru")= 'info@burovaya.ru'
