.about
  .logo.text-center
    include /img/svg/drill.svg
  p.text-justify='БУРОВАЯ - ведущий разработчик, производитель и поставщик оборудования для майнинга криптовалюты на российском рынке с 2013г. Производство и поставка оборудования для майнинга одно из приоритетных направлений нашей компании. В период с 2013г по 2018г было поставлено более 12000 майнеров на территорию РФ, общей стоимостью более $15 млн. Мы так же оказываем комплексную поддержку клиентов - рекомендуем пул/ биржу/ кошелек/ выгодный ввод и вывод криптовалюты, помогаем устранить технические неполадки, в случае возникновения таковых в период работы.'
