//- meta
- var $title = 'Майнинг сервис'
- var $description='Майнинг сервис'
- var $author = 'Yan Motronovsky'
//- css
-
  var $css = [
  'css/fonts.min.css',
  'css/csslibs.min.css', 
  'css/main.css'
  ]
//- social
-
  var $socLinks = [
    {href: 'https://www.facebook.com/blanh.ru/', icon: 'fb'},
    {href: 'https://vk.com/blanh', icon: 'vk'},
    {href: 'https://www.instagram.com/blanh.ru/', icon: 'instagram'}
  ]
//- pages
-
  var $pages = [
    {value: 'about', name: 'О нас'},
    {value: 'services', name: 'Услуги'},
    {value: 'catalog', name: 'Оборудование'},
    {value: 'partners', name: 'Партнеры'},
    {value: 'contacts', name: 'Контакты'},
  ]

//- clients
- var $clients = ['sergeenko', 'littleDrama','loom','ruban']
